<!-- Path: templates\change_password.html -->
<!-- Compare this snippet from templates\edit_profile.html: -->
<div class="edit_profile">
  <form action="" method="POST">
    <div class="row">
      <div class="column">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="column">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
      </div>
      <div class="column">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="bio">Bio</label>
        <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label for="profile_pic">Profile Picture</label>
        <input type="file" name="profile_pic" id="profile_pic" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <button type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
