<div class="mb-3">
  <button onclick="editProfile()">Edit</button>
  <form id="edit_profile">
    <div class="row">
      <div class="column">
        <label class="form-label mt-3" for="username">Username</label>
        <input
          readonly
          class="form-control-plaintext"
          type="text"
          name="username"
          id="username"
        />
      </div>
      <div class="column">
        <label class="form-label mt-3" for="name">Name</label>
        <input
          readonly
          class="form-control-plaintext"
          type="text"
          name="name"
          id="name"
        />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label class="form-label mt-3" for="email">Email</label>
        <input
          readonly
          class="form-control-plaintext"
          type="email"
          name="email"
          id="email"
        />
      </div>
      <div class="column">
        <label class="form-label mt-3" for="phone">Phone</label>
        <input
          readonly
          class="form-control-plaintext"
          type="text"
          name="phone"
          id="phone"
        />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label class="form-label mt-3" for="bio">Bio</label>
        <textarea
          readonly
          class="form-control-plaintext"
          name="bio"
          id="bio"></textarea>
      </div>
    </div>
    <!-- <div class="row">
      <div class="column">
        <label class="form-label mt-3" for="profile_pic">Profile Picture</label>
        <input
          readonly
          class="form-control-plaintext"
          type="file"
          name="profile_pic"
          id="profile_pic"
        />
      </div>
    </div> -->
    
    <input id="submit_btn" class="btn btn-success mt-3" type="submit" value="Submit" disabled>

  </form>
</div>
