{% extends 'base.html' %} {% block title %} Feed {% endblock %} {% block content
%}
<div class="w-50 m-auto">
  <form class="w-75 m-auto mt-5" id="postcard" enctype=multipart/form-data >
    <div class="input-group">
      <input
        type="text"
        aria-label="Title"
        name="title"
        id="post_title"
        class="form-control"
        placeholder="Title(optional)"
      />
      <input
        type="text"
        aria-label="content"
        name="post_content"
        id="post_content"
        class="form-control"
        placeholder="Start a post"
      /> 
    </div>

    <label for="formFileMultiple" class="form-label"
      >Select Images</label
    >
    <input class="form-control" id="post_pic" type="file" name="post_pic" accept="image/gif,image/jpeg,image/jpg,image/png" multiple />

    <button
    class="btn btn-outline-secondary"
    type="submit"
    id="button-addon1"
  >
    Post
  </button>
  </form>
  <div
    style="
      display: inline-block;
      align-self: stretch;
      width: 100%;
      min-height: 0.01em;
      background-color: currentcolor;
      opacity: 0.25;
    "
  ></div>
  <div class="user-feed">
    {% for post in current_user.posts %} {% include 'post_template.html' %} {%
    endfor %}
  </div>
</div>

{% endblock %}
