{% extends 'base.html' %} {% block title %} Search {% endblock %} {% block
content %}
<div class="settings row bg-dark border border-light rounded ">
  <div class="settings_nav">
    <ul>
      <li class="set_nav_li">
        <a href="/settings/edit_profile">Edit Profile</a>
      </li>
      <li class="set_nav_li">
        <a href="/settings/change_password"> Change Password </a>
      </li>
      <li class="set_nav_li">
        <a href="/settings/delete_account"> Delete Account </a>
      </li>
    </ul>
  </div>
  <div class="settings_active column align-center">
    {% if active == 'edit_profile': %}
    {% include 'edit_profile.html' %}
    {% elif active == 'change_password': %}
    {% include 'change_password.html' %}
    {% elif active == 'delete_account': %}
    {% include 'delete_account.html' %} {% endif %}
  </div>
</div>
{% endblock %}