<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/signup.css" />
    <title>Document</title>
  </head>
  <body>
    <form id="signup_form">
        <h4 class="title">Sign Up!</h4>
      <div class="form-control">
        <input type="text" id='username' name="username" required="" />
        <label>
          <span style="transition-delay: 0ms">U</span>
          <span style="transition-delay: 50ms">s</span>
          <span style="transition-delay: 100ms">e</span>
          <span style="transition-delay: 150ms">r</span>
          <span style="transition-delay: 200ms">n</span>
          <span style="transition-delay: 250ms">a</span>
          <span style="transition-delay: 300ms">m</span>
          <span style="transition-delay: 350ms">e</span>
        </label>
      </div>
      <div class="form-control">
        <input type="email" id='email' name="email" required="" />
        <label>
          <span style="transition-delay: 0ms">E</span>
          <span style="transition-delay: 50ms">m</span>
          <span style="transition-delay: 100ms">a</span>
          <span style="transition-delay: 150ms">i</span>
          <span style="transition-delay: 200ms">l</span>
        </label>
      </div>
      <div class="form-control">
        <input type="text" id="name" name="name" required="" />
        <label>
          <span style="transition-delay: 0ms">F</span>
          <span style="transition-delay: 50ms">u</span>
          <span style="transition-delay: 100ms">l</span>
          <span style="transition-delay: 150ms">l</span>
          <span style="transition-delay: 200ms"> </span>
          <span style="transition-delay: 250ms">N</span>
          <span style="transition-delay: 300ms">a</span>
          <span style="transition-delay: 350ms">m</span>
          <span style="transition-delay: 400ms">e</span>
        </label>
      </div>

      <div class="form-control">
        <input type="text" id="password" name="password" required="" />
        <label>
          <span style="transition-delay: 0ms">P</span>
          <span style="transition-delay: 50ms">a</span>
             <span style="transition-delay: 100ms">s</span>
          <span style="transition-delay: 150ms">s</span>
          <span style="transition-delay: 200ms">w</span>
          <span style="transition-delay: 250ms">o</span>
          <span style="transition-delay: 300ms">r</span>
          <span style="transition-delay: 350ms">d</span>
        </label>
      </div>
      <div class="form-control">
        <input type="text" id="phn" name="phn" />
        <label>
          <span style="transition-delay: 0ms">C</span>
          <span style="transition-delay: 50ms">o</span>
          <span style="transition-delay: 100ms">n</span>
          <span style="transition-delay: 150ms">t</span>
          <span style="transition-delay: 200ms">a</span>
          <span style="transition-delay: 250ms">c</span>
          <span style="transition-delay: 300ms">t</span>
        </label>
      </div>

      <button class="btn" type="submit">Sign Up</button>

        <a href="{{ url_for('login')}}" class="btn-link">Login</a>
    </form>

    <script src="/static/javascript/base.js"></script>
  </body>
</html>
