body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #373847cf;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > form {
  width: 50vh;
  /* margin: auto; */
  text-align: center;
  background: #212121;
  border-radius: 4px;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}
/*Text*/
.title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #f5f5f5;
  }

.form-control {
  position: relative;
  margin: 20px auto 40px;  
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}

.btn {
  margin: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background-color: #ffeba7;
  color: #5e6681;
  box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
  transition: all 0.3s ease-in-out;
}

.btn-link {
  color: #f5f5f5;
  display: block;
  font-size: 0.85em;
  transition: color 0.3s ease-out;
  margin: 0px 0px 10px;
}
.btn:hover {
  background-color: #5e6681;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}
.btn-link:hover {
  color: #ffeba7;
}
