<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="vert-nav">
      <ul>
        <li class="nav-items">
          <a href="/">
            <i class="material-icons">home</i>
          </a>
        </li>
        <li class="nav-items">
          <a href="/about">
            <i class="material-icons">search</i>
          </a>
        </li>
        <li class="nav-items">
          <a href="/contact">
            <i class="material-icons">explore</i>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
