<div class="horizontal_navbar">
  <div class="navbar">
    <div class="navbar_logo">Blog Lite</div>
    <div class="navbar_search">
      <input type="text" placeholder="Search" />
    </div>
    <button class="navbar_icon">
      <i class="material-icons">account_circle</i>
      <div class="navbar_menu">
        <ul>
          <li class="navbar_menu_item">
            <a href="/profile"
              ><i class="material-icons">account_circle</i> Profile</a
            >
          </li>
          <li class="navbar_menu_item">
            <a href="/logout">
              <i class="material-icons">power_settings_new</i> Logout</a
            >
          </li>
        </ul>
      </div>
    </button>
  </div>
</div>
