<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
    <link rel="stylesheet" href="/static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/profile.css" />
    <title>Username</title>
  </head>
  <body>
    {% include 'navbar.html' without context %}
    <div class="main-body row">
      {% include 'nav.html' without context %}

      <div class="profile column align-center">
        <div class="user_info row">
          <div class="profile_pic">
            <img src="/static/assets/avatar.png" alt="Profile pic" />
          </div>
          <ul class="info row align-center">
            <li>100 posts</li>
            <li>100 followers</li>
            <li>100 following</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
